@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Chakra+Petch&family=Itim&family=Kanit:wght@200&family=Mitr&family=Noto+Sans+Thai:wght@200;300&family=Pattaya&family=Prompt&family=Taviraj&display=swap');

@layer components {
	html,
	body {
		@apply h-full overflow-hidden;
	}

	.expand-image-hover-animation {
		@apply transition ease-in-out delay-100 hover:-translate-y-1 hover:rounded-md hover:scale-110 duration-300;
	}
}

/* Overwrite the default to keep the scrollbar always visible */

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.primary-font {
	font-family: 'Nanum Gothic', sans-serif;
}

.primary-thai-font {
	font-family: 'Noto Sans Thai', sans-serif;
}
